$mobile-width: 430px;
$desktop-width: 1440px;

$padding: 1.8rem;
$padding-small: 0.8rem;
$margin: 1rem;
$margin-large: 2rem;

$opacity: 0.05;

/* colors */
$light-red: hsl(0, 100%, 67%);
$orangey-yellow: hsl(39, 100%, 56%);
$green-teal: hsl(166, 100%, 37%);
$cobalt-blue: hsl(234, 85%, 45%);

$accent-color: #333333;
$accent-light: #aaaaaa;

/* 
  replace with variables that take arguments
*/
$xlight-red: hsla(0, 100%, 67%, $opacity);
$xorangey-yellow: hsla(39, 100%, 56%, $opacity);
$xgreen-teal: hsla(166, 100%, 37%, $opacity);
$xcobalt-blue: hsla(234, 85%, 45%, $opacity);

/* gradients */
$light-slate-blue: hsl(252, 100%, 67%); /* background */
$light-royal-blue: hsl(241, 81%, 54%); /* background */

$violet-blue: hsla(256, 72%, 46%, 1); /* circle */
$persian-blue: hsla(241, 72%, 46%, 0); /* circle */

$link-color: hsl(224, 30%, 27%);

$body-text: 18px;
$font: "Hanken Grotesk", sans-serif;
$color-light: hsl(252, 100%, 85%); /* background */

/* reset default styles */
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Hanken Grotesk";
  src: url(../fonts/HankenGrotesk-VariableFont_wght.ttf);
}

body {
  font-family: $font;
  font-size: $body-text;
  background-color: white;
}

.container {
  max-width: $mobile-width;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .result {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: linear-gradient($light-slate-blue, $light-royal-blue);
    color: $color-light;
    padding: $padding;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;

    * {
      margin-bottom: $margin;
    }

    h1 {
      font-size: 1rem;
    }

    .user-score,
    .comment-title {
      color: white;
      font-weight: 600;
    }

    .comment-title {
      font-size: 1.3rem;
    }
    .comment {
      font-size: 1rem;
      margin: 0;
    }

    // Circle
    .score {
      border-radius: 50%;
      background-image: linear-gradient($violet-blue, $persian-blue);
      width: calc((1 / 6) * 100vh);
      height: calc((1 / 6) * 100vh);
      display: flex;
      justify-content: center;
      align-items: center;

      .average {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        * {
          margin: 0;
        }

        .user-score {
          font-size: 3rem;
        }
      }
    }
  }

  .summary {
    padding: $padding;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h2 {
      margin-bottom: 1.2rem;
      color: $accent-color;
      font-size: 1.1rem;
    }

    .categories {
      .category {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: $padding-small;
        border-radius: 0.5rem;
        margin-bottom: $margin;

        .title {
          display: flex;
          font-size: 0.9rem;
          img {
            margin-right: $margin;
          }
        }

        .category-score {
          font-weight: 700;
          color: $accent-color;
          font-size: 0.9rem;

          .category-score-total {
            color: $accent-light;
          }
        }
      }
      .category:nth-child(1) {
        background-color: $xlight-red;

        .title {
          color: $light-red;
        }
      }
      .category:nth-child(2) {
        background-color: $xorangey-yellow;

        .title {
          color: $orangey-yellow;
        }
      }
      .category:nth-child(3) {
        background-color: $xgreen-teal;

        .title {
          color: $green-teal;
        }
      }
      .category:nth-child(4) {
        background-color: $xcobalt-blue;

        .title {
          color: $cobalt-blue;
        }
      }
    }

    a {
      display: block;
      background-color: $link-color;
      color: white;
      padding: $padding-small;
      border-radius: 3rem;
      text-align: center;
      text-decoration: none;
    }
    a:hover {
      background-image: linear-gradient($light-slate-blue, $light-royal-blue);
    }
  }
}

.attribution {
  text-align: center;
  padding: 1rem 0;
  font-size: 0.9rem;
  padding: 2rem;

  a {
    color: $accent-color;
    text-decoration: underline;
  }
}

@media (min-width: $mobile-width) {
  .attribution {
    text-align: center;
    padding: 1rem 0;
    font-size: 0.9rem;
    padding: 2rem;
    position: absolute;
    bottom: 0;

    a {
      color: $accent-color;
      text-decoration: underline;
    }
  }
  $width: 550px;
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container {
    max-width: unset;
    width: $width;
    height: unset;
    flex-direction: row;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    border-radius: 2rem;

    .result {
      height: inherit;
      border-top-right-radius: 2rem;
      border-top-left-radius: 2rem;
      width: calc(#{$width / 2});
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .score {
        width: calc((1 / 5) * 100vh);
        height: calc((1 / 5) * 100vh);
      }

      .comment {
        font-size: 0.8rem;
      }
    }
    .summary {
      height: inherit;
      width: calc(#{$width / 2});
      flex: unset;

      * {
        font-size: 0.8rem;
      }
    }
  }
}
