$mobile-width: 375px;
$desktop-width: 1440px;

/* colors */
$light-red: hsl(0, 100%, 67%);
$orangey-yellow: hsl(39, 100%, 56%);
$reen-teal: hsl(166, 100%, 37%);
$obalt-blue: hsl(234, 85%, 45%);

/* gradients */
$light-slate-blue: hsl(252, 100%, 67%); /* background */
$-light-royal-blue: hsl(241, 81%, 54%); /* background */

$violet-blue: hsla(256, 72%, 46%, 1); /* circle */
$persian-blue: hsla(241, 72%, 46%, 0); /* circle */

/* font */
$body-text: 18px;
$font: "Hanken Grotesk", sans-serif;

/* reset default styles */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font;
  font-size: $body-text;
}
